openapi: 3.2.0
info:
  title: Trail Task Templates API
  version: v1
  description: 'Operations tagged Task Templates across 2 of this provider''s published API definitions: trail_evo_api_v1.yaml, trail_task_templates_v1.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://web.trailapp.com/api
- url: https://us.trailapp.com/api
  description: US
tags:
- name: Task Templates
paths:
  /evo_api/task_templates:
    get:
      tags:
      - Task Templates
      summary: Retrieves task templates
      operationId: getTaskTemplates
      security:
      - oauth2:
        - openid
        - profile
        - email
        - access.trail.api
      responses:
        '200':
          description: task templates retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskTemplate'
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
    servers:
    - url: https://web.trailapp.com/api
    - url: https://us.trailapp.com/api
      description: US
  /public/task_templates/v1/list:
    get:
      summary: Retrieves task templates
      tags:
      - Task Templates
      security:
      - API_KEY: []
      parameters:
      - name: Content_Type
        in: header
        required: true
        description: Must be equal to application/json
        schema:
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: Task templates retrieved
          content:
            application/json:
              examples:
                success:
                  value:
                    data:
                    - id: 1
                      name: Recurring task
                      status: published
                      type: repeat
                    - id: 2
                      name: One off task
                      status: published
                      type: oneOff
                    - id: 3
                      name: On demand task
                      status: published
                      type: adHoc
                    - id: 4
                      name: Automated task
                      status: draft
                      type: automated
                    - id: 5
                      name: Action Template
                      status: archived
                      type: actionTemplate
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TaskTemplate_2'
        '401':
          description: Unauthorized - Missing or Invalid API Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error401'
        '429':
          description: Too Many Requests - Rate Limit Exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error429'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error500'
      operationId: getPublicTaskTemplatesV1List
      x-operation-id-source: derived
    servers:
    - url: https://web.trailapp.com/api
    - url: https://us.trailapp.com/api
      description: US
components:
  schemas:
    Error401:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                example: Unauthorized
              detail:
                type: string
                example: API key is missing or invalid
              status:
                type: integer
                example: 401
            required:
            - title
            - detail
            - status
      required:
      - errors
    Subtask:
      type: object
      properties:
        id:
          type: integer
          example: 1
          description: Subtask ID
        name:
          type: string
          example: Clean floors
          description: Subtask name
        completion_value:
          type: string
          example: unchecked
          description: Subtask completion value
        position:
          type:
          - integer
          - 'null'
          example: 0
          description: Subtask position
      required:
      - id
      - name
      - completion_value
    TaskTemplate:
      type: object
      properties:
        id:
          type: integer
          example: 1
          description: Task template ID
        name:
          type: string
          example: Daily Cleaning
          description: Task template name
        notes:
          type: string
          example: Clean the main areas
          description: Task description/notes
        template_type:
          type: string
          example: single
          description: Template type (single, recurring, on_demand, etc.)
        status:
          type: string
          example: published
          description: Template status
        priority:
          type: string
          example: medium
          description: Task priority (high, medium, low)
        location_ids:
          type: array
          items:
            type: integer
          example:
          - 1
          - 2
          - 3
          description: Array of location IDs
        subtasks:
          type: array
          items:
            $ref: '#/components/schemas/Subtask'
          description: Array of subtasks
      required:
      - id
      - name
      - template_type
      - status
    TaskTemplate_2:
      type: object
      description: An object representing a summary of a task template - the model that is used to build new task instances
      properties:
        id:
          type: integer
          example: 120284
          description: Unique identifier for the task template
        name:
          type: string
          example: Fridge & Freezer Temperature Checks
          description: Name of the task template
        status:
          type: string
          enum:
          - published
          - draft
          - archived
          example: published
          description: 'A string representing the current status of the task template.


            Possible values:

            - published

            - draft

            - archived

            '
        type:
          type: string
          enum:
          - repeat
          - oneOff
          - adHoc
          - automated
          - actionTemplate
          example: repeat
          description: 'A string representing the type of schedule for the task template.


            Possible values:

            - repeat

            - oneOff

            - adHoc

            - automated

            - actionTemplate

            '
      required:
      - id
      - name
      - status
      - type
    Error429:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                example: Too Many Requests
              detail:
                type: string
                example: Rate limit exceeded. Try again later.
              status:
                type: integer
                example: 429
            required:
            - title
            - detail
            - status
      required:
      - errors
    Error500:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                example: Internal Server Error
              detail:
                type: string
                example: An unexpected error occurred
              status:
                type: integer
                example: 500
            required:
            - title
            - detail
            - status
      required:
      - errors
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://preprodidentity.accessacloud.com/connect/authorize
          tokenUrl: /api/evo_api/oauth/token
          scopes:
            openid: OpenID
            profile: Profile
            email: Email
            access.trail.api: Trail API
    API_KEY:
      type: apiKey
      name: API_KEY
      in: header
externalDocs:
  description: How to obtain an API key
  url: https://answers.trailapp.com/en/articles/9166997-trail-s-task-api
x-refined-from:
- trail_evo_api_v1.yaml
- trail_task_templates_v1.yaml
