---
openapi: 3.0.1
info:
  title: Task Templates
  version: v1
  description: |
    You can use this API to query details of your task templates, which are used to build new task instances.
    [Learn more about task templates](https://answers.trailapp.com/en/articles/657006-overview-of-the-task-manager).

    An API_KEY header is required to authorise requests. The rate limiting for endpoints is set to 60 requests (to any endpoint) per 60 seconds.
externalDocs:
  description: How to obtain an API key
  url: https://answers.trailapp.com/en/articles/9166997-trail-s-task-api
paths:
  "/public/task_templates/v1/list":
    get:
      summary: Retrieves task templates
      tags:
      - Task Templates
      security:
      - API_KEY: []
      parameters:
      - name: Content_Type
        in: header
        required: true
        description: Must be equal to application/json
        schema:
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: Task templates retrieved
          content:
            application/json:
              examples:
                success:
                  value:
                    data:
                    - id: 1
                      name: Recurring task
                      status: published
                      type: repeat
                    - id: 2
                      name: One off task
                      status: published
                      type: oneOff
                    - id: 3
                      name: On demand task
                      status: published
                      type: adHoc
                    - id: 4
                      name: Automated task
                      status: draft
                      type: automated
                    - id: 5
                      name: Action Template
                      status: archived
                      type: actionTemplate
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/TaskTemplate"
        '401':
          description: Unauthorized - Missing or Invalid API Key
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error401"
        '429':
          description: Too Many Requests - Rate Limit Exceeded
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error429"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error500"
servers:
- url: https://web.trailapp.com/api
- url: https://us.trailapp.com/api
  description: US
components:
  securitySchemes:
    API_KEY:
      type: apiKey
      name: API_KEY
      in: header
  schemas:
    TaskTemplate:
      type: object
      description: An object representing a summary of a task template - the model
        that is used to build new task instances
      properties:
        id:
          type: integer
          example: 120284
          description: Unique identifier for the task template
        name:
          type: string
          example: Fridge & Freezer Temperature Checks
          description: Name of the task template
        status:
          type: string
          enum:
          - published
          - draft
          - archived
          example: published
          description: |
            A string representing the current status of the task template.

            Possible values:
            - published
            - draft
            - archived
        type:
          type: string
          enum:
          - repeat
          - oneOff
          - adHoc
          - automated
          - actionTemplate
          example: repeat
          description: |
            A string representing the type of schedule for the task template.

            Possible values:
            - repeat
            - oneOff
            - adHoc
            - automated
            - actionTemplate
      required:
      - id
      - name
      - status
      - type
    Error401:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                example: Unauthorized
              detail:
                type: string
                example: API key is missing or invalid
              status:
                type: integer
                example: 401
            required:
            - title
            - detail
            - status
      required:
      - errors
    Error429:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                example: Too Many Requests
              detail:
                type: string
                example: Rate limit exceeded. Try again later.
              status:
                type: integer
                example: 429
            required:
            - title
            - detail
            - status
      required:
      - errors
    Error500:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                example: Internal Server Error
              detail:
                type: string
                example: An unexpected error occurred
              status:
                type: integer
                example: 500
            required:
            - title
            - detail
            - status
      required:
      - errors
