---
openapi: 3.0.1
info:
  title: Areas
  version: v1
  description: |
    You can use this API to query details of your areas.
    [Learn more about areas](https://answers.trailapp.com/en/articles/8337026-creating-managing-areas).

    An API_KEY header is required to authorise requests. The rate limiting for endpoints is set to 60 requests (to any endpoint) per 60 seconds.
externalDocs:
  description: How to obtain an API key
  url: https://answers.trailapp.com/en/articles/9166997-trail-s-task-api
paths:
  "/public/areas/v1/list":
    get:
      summary: Retrieves areas
      tags:
      - Areas
      security:
      - API_KEY: []
      parameters:
      - name: Content_Type
        in: header
        required: true
        description: Must be equal to application/json
        schema:
          type: string
          enum:
          - application/json
      responses:
        '200':
          description: Areas retrieved
          content:
            application/json:
              examples:
                success:
                  value:
                    data:
                    - id: 2
                      name: Greater London
                    - id: 3
                      name: Scotland
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      "$ref": "#/components/schemas/Area"
        '401':
          description: Unauthorized - Missing or Invalid API Key
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error401"
        '429':
          description: Too Many Requests - Rate Limit Exceeded
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error429"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error500"
servers:
- url: https://web.trailapp.com/api
- url: https://us.trailapp.com/api
  description: US
components:
  securitySchemes:
    API_KEY:
      type: apiKey
      name: API_KEY
      in: header
  schemas:
    Area:
      type: object
      description: An object representing a summary of an area - the model that represents
        the areas (groups of sites) in your organisation
      properties:
        id:
          type: integer
          example: 2584
          description: Unique identifier for the area
        name:
          type: string
          example: Greater London
          description: Name of the area
      required:
      - id
      - name
    Error401:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                example: Unauthorized
              detail:
                type: string
                example: API key is missing or invalid
              status:
                type: integer
                example: 401
            required:
            - title
            - detail
            - status
      required:
      - errors
    Error429:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                example: Too Many Requests
              detail:
                type: string
                example: Rate limit exceeded. Try again later.
              status:
                type: integer
                example: 429
            required:
            - title
            - detail
            - status
      required:
      - errors
    Error500:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
                example: Internal Server Error
              detail:
                type: string
                example: An unexpected error occurred
              status:
                type: integer
                example: 500
            required:
            - title
            - detail
            - status
      required:
      - errors
